* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --hue-color: 34;
  --body-bg-color: rgba(34, 33, 44, 1);
  --text-color: rgba(131, 126, 159, 1);
  --bg-cards: rgba(48, 47, 61, 1);
  --bg-techs: rgba(203, 146, 177, 1);
}

body {
  font-size: 1.6rem;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--body-bg-color);
}