* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --hue-color: 34;
  --body-bg-color: rgba(34, 33, 44, 1);
  --text-color: rgb(162, 155, 196);
  --bg-cards: rgb(47, 45, 65);
  --bg-techs: rgba(203, 146, 177, 1);
  --prof-border: rgb(125, 189, 29);
}

body {
  font-size: 1.6rem;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--body-bg-color);
  width: 100vh;
  height: 100vh;
}

.hide {
  opacity: 0;
  display: none;
}

.profile img {
  width: clamp(8.8rem, 7rem + 5vw, 12.8rem);
  height: clamp(8.8rem, 7rem + 5vw, 12.8rem);
  margin: auto;
  display: block;
  border: 2px solid var(--prof-border);
  border-radius: 99999px;
  filter: contrast(80%);
}

.card {
  width: clamp(25rem, 25rem + 5vw, 60rem);
  border-radius: 2rem;
  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 3rem 0;
  margin: 3rem 3rem 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.9rem;
  text-align: center;
  color: var(--text-color);
}

p,
a {
  line-height: 1.6rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--text-color);
}

div .profile {
  place-content: center;
}

div .profile h1 {
  font-size: 2.3rem;
}

div .links {
  display: flex;
  flex-direction: column;
}

div .techs .technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0 0 0 2rem;
}

div .techs p {
  margin-top: 1rem;
}

div .techs section h1 {
  justify-content: center;
  align-items: center;
}
div .techs .technologies p {
  color: black;
  background-color: #cb92b1;
  border-radius: 3rem;
  padding: 0.2rem 1rem;
}

ul li {
  list-style-type: none;
  margin-top: 1rem;
}

ul li p {
  text-align: start;
  margin-left: 4rem;
}

div .links > div {
  display: inline-flex;
  gap: 2rem;
  margin: 0 0 2rem 2rem;
  align-items: center;
}

.colum-2 .card {
  width: clamp(35rem, 25rem + 40vw, 85rem);
}

.colum-2 .myprojects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.colum-2 .myprojects section h1 {
  font-size: 2rem;
}

.colum-2 .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colum-2 .project.card {
  width: clamp(25rem, 25rem + 5vw, 30rem);
  height: clamp(15rem, 15rem + 5vh, 20rem);
  padding: 2rem;
}

.colum-2 .project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colum-2 .project .headerProject {
  display: flex;
  gap: 1.6rem;
}

.colum-2 .project .footerProject {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.colum-2 .project .footerCounts {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.colum-2 .project .footerCounts img {
  margin-left: 1rem;
}

.colum-2 .project .footerTech {
  display: flex;
  align-items: center;
}

.colum-2 .headerProject h1 {
  font-size: 1.6rem;
}

.colum-2 .circle {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 9999px;
  background-color: var(--prof-border);
  border: 1px solid var(--body-bg-color);
}

.page {
  padding-bottom: 2rem;
  display: grid;
  grid-template-areas:
    'A E E'
    'B T T'
    'C T T'
    'D T T';
}

/*Grid-Areas*/

div .profile {
  grid-area: A;
}

div .links {
  grid-area: B;
}

div .techs {
  grid-area: C;
}

div .education {
  grid-area: D;
}

div .myprojects {
  grid-area: E;
}
